<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peony.peonydata.systemlog.dao.SystemLogMapper">
  <resultMap id="BaseResultMap" type="com.peony.peonydata.systemlog.model.SystemLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="module" jdbcType="VARCHAR" property="module" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, time, module
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pe_t_systemlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pe_t_systemlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.peony.peonydata.systemlog.model.SystemLog">
    insert into pe_t_systemlog (id, content, time, 
      module)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{module,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peony.peonydata.systemlog.model.SystemLog">
    insert into pe_t_systemlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="module != null">
        module,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peony.peonydata.systemlog.model.SystemLog">
    update pe_t_systemlog
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peony.peonydata.systemlog.model.SystemLog">
    update pe_t_systemlog
    set content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      module = #{module,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
  
   <!--查询列表 分页 -->
	<select id="selectByPage" parameterType="com.peony.peonydata.systemlog.model.SystemLog" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		pe_t_systemlog
		t
		where 1=1
		order by time desc
	</select>
  
</mapper>